@import '/src/assets/scss/colors.scss';

.navbar{
    background: $secondary;
    border-bottom: 5px solid $third;
}

.navbar-brand{
    font-size: 25px;
}

.nav-link{
    font-size: 18px;
    margin-right: 20px;
    font-weight: 300;
}